<placeholder>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Fastest possible Browsing">
    <meta name="author" content="Elia Reutlinger">
    <title id="genTitle"></title>
</placeholder>

<script type="text/javascript">

    kjs.get_once('#COMPDIR#', function(){

        //Everything inside here will only be executed once
        //(When the component gets loaded the first time)
        $.getScript('#COMPDIR#/js/appendContent.js');

    });

    //Everything else will be executed with every use of the component
    $.getScript('#COMPDIR#/js/setTitle.js');

</script>
